.navbar-brand {
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
}
input#searchInput {
    width: 250px;
    padding: 9px;
    border: 2px solid #ced4da;
    border-radius: 25px;
    outline: none;
}

button#searchButton {
    background-color: #00a6ff;
    color: #ffffff;
    border: 1px solid #007bff;
    border-radius: 50px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

button#searchButton:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

 body {
    background-color: #f8f9fa;
    color: #495057;
  }

  h3 {
    color: #007bff;
  }

  .alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }

  .card {
    border: none;
    margin-top: 20px;
  }

  .card-header {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
  }

  .card-body {
    padding: 20px;
  }

  form {
    margin-bottom: 0;
  }

  button.btn-primary {
    background-color: #007bff;
    color: #ffffff;
    border: none;
  }

  button.btn-primary:hover {
    background-color: #0056b3;
  }

  a.btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    margin-left: 10px;
  }

  a.btn-secondary:hover {
    background-color: #545b62;
  }
.navbar-collapse {
  justify-content: space-between;
}

#searchInput {
  margin-right: 1rem;
}

#searchButton {
  margin-left: 0.5rem;
}
