{% extends "Student_App/base.html" %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {% if Student_App %}
                <div class="card bg-light ms-4 me-4 mb-4">
                    <div class="card-header" id="scrl"><i class="fa-solid fa-list-ul fa-lg"></i> Student Records</div>
                <div class="card-body">
                <p class="card-text">
                    <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Student Pin</th>
                              <th scope="col">First Name</th>
                              <th scope="col">Last Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">Course</th>
                              <th scope="col">CGPA</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for student in Student_App %}
                              <tr class="table-info">
                                <td>{{ student.student_pin }}</td>
                                <td>{{ student.first_name }}</td>
                                <td>{{ student.last_name }}</td>
                                <td>{{ student.email }}</td>
                                <td>{{ student.course }}</td>
                                <td>{{ student.cgpa }}</td>
                                <td>
                                     <button type="button" class="btn btn-success me-1" href="{% url 'view_student' student.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}">
                                     <i class="fa-solid fa-circle-info fa-lg"></i>
                                     </button>

                                    <div class="modal" id="myModal{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h3 style="color: #ff007b" class="modal-title">Student: {{ student.first_name }} {{ student.last_name }}</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true"></span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <ul class="list-unstyled">
                                            <li style="color: #ff6600;">Batch No: <strong style="color: #000000;">{{ student.batch_no }}</strong></li>
                                            <li style="color: #ff6600;">Student Pin: <strong style="color: #000000;">{{ student.student_pin }}</strong></li>
                                            <li style="color: #ff6600;">Name: <strong style="color: #000000;">{{ student.first_name }} {{ student.last_name }}</strong></li>
                                            <li style="color: #ff6600;">age: <strong style="color: #000000;">{{ student.age }}</strong></li>
                                            <li style="color: #ff6600;">Email: <strong style="color: #000000;">{{ student.email }}</strong></li>
                                            <li style="color: #ff6600;">Phone No: <strong style="color: #000000;">{{ student.mobile }}</strong></li>
                                            <li style="color: #ff6600;">Course: <strong style="color: #000000;">{{ student.course }}</strong></li>
                                            <li style="color: #ff6600;">CGPA: <strong style="color: #000000;">{{ student.cgpa }}</strong></li>
                                            <li style="color: #ff6600;">College: <strong style="color: #000000;">{{ student.college }}</strong></li>
                                            </ul>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                    <a class="btn btn-warning me-1" href="{% url 'edit' student.id %}">
                                        <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                    </a>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{student.id}}">
                                        <i id="btn3" class="fa-solid fa-trash-can fa-lg"></i>
                                    </button>

                                    <div class="modal" id="delete{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h3 style="color: #000000;" class="modal-title">Student: {{ student.first_name }} {{ student.last_name }}</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true"></span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                              <p style="color: #f54c40;">Are you sure you want to delete this student?</p>
                                          </div>
                                          <div class="modal-footer">
                                              <form action="{% url 'delete' student.id %}" method="POST">
                                                  {% csrf_token %}
                                                  <input type="submit" class="btn btn-primary" value="Delete">
                                              </form>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                </td>
                              </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </p>
                </div>
                </div>
            {% else %}
                <h5 class="alert alert-primary ms-4 me-4 mb-4">No Students Record Inserted</h5>
            {% endif %}
        </div>
    </div>
{% endblock %}

